* {
    background-color: whitesmoke;
    font-size: large;  
}
nav a{
    color: #3d3c0a;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    color: blueviolet;
}
body {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
}
nav .leftCorner a img {
    width: 100px;
    height: 40px;
    margin-right: 20px;
}
nav .leftCorner {
    display: flex;
    align-items: center;
    margin-inline-end: 30px;
}

nav form.search-form{
    display: flex;
    align-items: center;
}

nav form.search-form button{
    border-style: none;
    display: flex;
    align-items: center;
    height: 15px;
    margin-right: 7px;
    cursor: pointer;
}
nav form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 700px;
    background: #f1f1f1;
    border-radius: 15px;
}
nav .rightCorner ul {
    display: inline-flex;
    list-style: none;
    align-items: center;
    width: 100%;
}
nav .rightCorner .item a {
    margin-left: 20px;
}
nav .rightCorner .log-in {
    color: black;
    border: 2px solid black;
    padding: 0.6rem;
    font-weight: 1000;
    margin-left: 15px;
    margin-right: 5px;
}
nav .rightCorner .log-in a {
    color: #3d3c0a;
    text-decoration: none;
    font-family: sans-serif;
}
nav .rightCorner .sign-up {
    background-color: black;
    padding: 0.6rem;
    color: white;
    font-weight: 1000;
}

nav .rightCorner .sign-up a {
    color: white;
    text-decoration: none;
    background-color: black;
    font-family: sans-serif;
}