* {
    font-size: large;
}
a {
    color: #3d3c0a;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    color: blueviolet;
}
body {
    background-color: white;
    margin: 0px;
    height: fit-content;
    width: fit-content;
}

/**************************** navigation bar ****************************/

nav {
    padding: 0.8rem;
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}
nav .leftCorner {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .leftCorner img{
    width: 120px;
    padding-right: 3rem;
    padding-left: 0.5rem;
}
nav .search-form {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
}
nav form.search-form button{
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
    height: 15px;
    margin-right: 7px;
    cursor: pointer;
}

nav form.search-form input[type=text] {
    font: black;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    border-radius: 15px;
    float: left;
    height: 40px;
    width: 100%;
    min-width: 170px;
}

nav .rightCorner {
    display: flex;
    margin-left: auto;
}
nav .rightCorner ul {
    display: inline-flex;
    list-style: none;
    align-items: center;
    width: 100%;
}
nav .rightCorner .item a {
    margin-left: 1rem;
}
nav .rightCorner .log-in {
    color: black;
    border: 2px solid black;
    padding: 0.6rem;
    font-weight: 1000;
    margin-left: 15px;
    margin-right: 5px;
}
nav .rightCorner .log-in a {
    color: #3d3c0a;
    text-decoration: none;
    font-family: sans-serif;
    background-color: transparent;
}
nav .rightCorner .sign-up {
    color: white;
    background-color: black;
    padding: 0.6rem;
    font-weight: 1000;
}
nav .rightCorner .sign-up a {
    color: white;
    background-color: transparent;
}

nav .rightCorner .sign-up:hover,
nav .rightCorner .log-in:hover {
    background-color: #777;
}

/****************************  ****************************/

.section {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-inline: 10%;
}
.content {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: whitesmoke;
}
.content .card1{
    justify-content: center;
    width: 45%;
    display: block;
    padding: 1rem;
    background-color: aliceblue;
}
.content .card1 h1{
    padding-left: 2rem;
    font-size: 40px;
}
.content .card1 p{
    padding-left: 2rem;
    font-size: 30px;
}
.content .card2{
    width: 50%;
    background-color: transparent;
    justify-content: center;
}
.content .card2 img{
    display: flex;
    width: auto;
    margin: auto;
}
/* **************** */
.coursesSection {
    background-color: whitesmoke;
    padding-left: 1rem;
}
.coursesSection h1 {
    font-size: 40px;
    margin-bottom: auto;
}

.coursesSection .courses ul {
    flex-wrap: wrap;
    display: inline-flex;
    list-style: none;
    align-items: center;
    width: 100%;
}
.coursesSection .item button{
    background-color: transparent;
    cursor: pointer;
    color: bold;
    font-weight: 600;
    margin-right: 15px;
    border: 0px;
}
.coursesSection .item button:hover{
    color: white;
    background-color: #777;
}

.coursesSection .courses .courseContent {
    border: 1px solid lightgray;
    margin: 5px;
    padding: 10px;
}

.coursesSection .courses .courseContent p{
    max-width: 70%;
}

.coursesSection .courseCards {
    flex-wrap: wrap;
    display: inline-flex;
}

.coursesSection .courseCards .myCourseCard{
    max-width: 280px;
    margin-bottom: 1rem;
}

.coursesSection .courseCards .myCourseCard p .details{
    font: small;
}
.coursesSection .courseCards .myCourseCard .rating {
    font-size: large;
    color: orange;
    margin-bottom: 0.5rem;
}
.coursesSection .courseCards .myCourseCard .rating .ratingNum{
    font-size: small;
    color: black;
}

.coursesSection .courseCards .myCourseCard .price .realPrice{
    font-style: italic;
    font-weight: 1000;
    margin-right: 0.2rem;
}
.coursesSection .courseCards .myCourseCard .price del{
    font-size: small;
    font-style: inherit;
}

/**************************** small screen ****************************/
@media only screen and (min-width: 1000px){
    nav .leftCorner .menu-bar{
        display: none;
    }
    nav .leftCorner img{
        padding-left: 1rem;
    }
}


@media only screen and (max-width: 1000px) {
    nav .search-form, nav .rightCorner{
        display: none;
    }
    nav .leftCorner {
        width: 100%;
        justify-content: space-between;
    }

    .section .content{
        flex-direction: column-reverse;
    }
    .section .content .card1, .section .content .card2{
        width: auto;
    }
    
    .coursesSection .courseCards {
        max-width: 100%;
        overflow-x: scroll;
        flex-wrap: nowrap;
        overflow: auto;
    }
    .coursesSection .courseCards .myCourseCard{
        padding-left: 1rem;
    }
}