* {
    background-color: whitesmoke;
    border-radius: 15px;  
    font-size: large;
    
}
body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
nav {
    display: flex;
}
.leftCorner img {
    width: 100px;
}
.searchBar {
    display: flex;
    height: 65px;
    margin-inline: 150px;
}
.searchBar .child {
    display: flex;
    height: 60%;
}
.searchBar .child input[type="text"] {
    width: 700px;
}
